{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    {
      "name": "@semantic-release/exec",
      "config": {
        "prepareCmd": " echo 'Packing completed' && ls -la .output && cat package.json && pnpm pack:chrome"
      }
    },
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": ".output/web-chat-${nextRelease.version}-chrome.zip"
          }
        ],
        "labels": [
          "release"
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ]
      }
    ]
  ]
}
